<!DOCTYPE html>
<html lang="us">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Piou Gilles">
  <meta name="description" content="Seeking attention on Google">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>PIOU Gilles</title>
  <link rel="author" href="https://plus.google.com/+GillesPiou">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40932161-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <section class="about">
    <header>
      <h1>Piou Gilles</h1>
      <h2>Frontend developer</h2>
    </header>
    <p>
      <a class="about__link" target="_blank" href="http://www.facebook.com/pioug">facebook</a><br>
      <a class="about__link" target="_blank" href="http://www.github.com/pioug">github</a><br>
      <a class="about__link" target="_blank" href="http://www.linkedin.com/in/pioug">linkedin</a><br>
      <a class="about__link" target="_blank" href="http://www.twitter.com/pioug">twitter</a><br>
      <a class="about__link" target="_blank" href="http://pioug.vsco.co/">vsco</a>
    </p>
  </section>
  <section class="portfolio">
    <a class="portfolio__project"
       style="background-image: url(./images/previews/slotmachine.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/slot-machine/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Event game (full HD, press Z or C)</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>javascript</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/forestsafe.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/forest-safe/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Software homepage</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>javascript</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/parachute.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/parachute/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Landing page</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>responsive</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/spacetrip.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/space-trip/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Event page</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>javascript</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/cabeze.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/cabeze/blog.html"
       target="_blank">
      <div class="project__caption">
        <h5>App landing page</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/amo.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/arizona-mountain-outfitters/home.html"
       target="_blank">
      <div class="project__caption">
        <h5>Website for a hunting club</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/voki.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/voki/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Social network for creatives</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>responsive</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/bestcloudhost.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/best-cloud-host/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Template for tumblr</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/locash.png);"
       href="https://googledrive.com/host/0B1WAeRAwpMCZa09uRGJ0b3lBUHM/portfolio/locash/index.html"
       target="_blank">
      <div class="project__caption">
        <h5>Website for a music band</h5>
        <strong>design integration</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>javascript</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/tim.png);"
       href="http://tim.asiance.com/"
       target="_blank">
      <div class="project__caption">
        <h5>Webtool to simply apply image template</h5>
        <strong>kineticsjs</strong>
        <strong>html5</strong>
        <strong>javascript</strong>
        <strong>canvas</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/bitx.png);"
       href="http://bitx.asiance.com/"
       target="_blank">
      <div class="project__caption">
        <h5>Chrome extension for Basecamp</h5>
        <strong>angularjs</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>jquery</strong>
        <strong>rest api</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/interval.png);"
       href="http://interval-asso.fr/"
       target="_blank">
      <div class="project__caption">
        <h5>Website for student association</h5>
        <strong>cakephp</strong>
        <strong>html5</strong>
        <strong>bootstrap</strong>
        <strong>less</strong>
        <strong>mysql</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/marten.png);">
      <div class="project__caption">
        <h5>Side project run with friends</h5>
        <strong>cakephp</strong>
        <strong>html5</strong>
        <strong>bootstrap</strong>
        <strong>less</strong>
        <strong>jquery</strong>
      </div>
    </a>
    <a class="portfolio__project"
       style="background-image: url(./images/previews/synergid.png);"
       href="http://www.synergid.fr/"
       target="_blank">
      <div class="project__caption">
        <h5>University project</h5>
        <strong>php</strong>
        <strong>html5</strong>
        <strong>css3</strong>
        <strong>mysql</strong>
        <strong>android</strong>
      </div>
    </a>
    <a class="portfolio__project--placeholder"></a>
<!--     <article
      class="portfolio__project"
      style="background-image: url({{project.preview}});
             -webkit-animation-delay: {{$index * 0.1}}s;
                     animation-delay: {{$index * 0.1}}s"
      ng-repeat="project in projects | orderBy:'id':true">
      <a target="_blank" ng-href="{{project.url}}">
        <div class="project__caption">
          <h4>{{project.title}}</h4>
          <h5>{{project.subtitle}}</h5>
          <strong ng-repeat="tag in project.tags">{{tag}}</strong>
        </div>
      </a>
    </article> -->
  </section>
  <footer>
    <a class="footer__link" href="mailto:gilles.piou@gmail.com">email</a>
    <a class="footer__link" href="pioug_resume.pdf">resume</a>
  </footer>
</body>
</html>
