@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

body {
  color: #222;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  pointer-events: none;
  text-rendering: geometricPrecision;
}

section {
  padding: 2em;
}

header a {
  background: #222;
  border-radius: 2px;
  color: #fff;
  line-height: 2em;
  padding: .2em .4em;
}

h1 {
  font-weight: 800;
  line-height: 1em;
  margin: 0;
}

h2 {
  color: #d8403a;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .02em;
  line-height: 2em;
  margin: 0;
}

a {
  -webkit-transition: all .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
          transition: all .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  color: inherit;
  pointer-events: all;
  text-decoration: none;
}

header a:hover {
  background: #777;
}

p a {
  line-height: 2em;
  margin-left: 1em;
}

p a:hover {
  color: #777;
  padding-left: .6em;
}

@media (pointer: coarse) {

  header a:hover {
    background: #222;
  }

  p a:hover {
    color: #222;
    padding-left: 0;
  }

}
